<article id="<%= dom_id order %>">
  <strong>
    <%= link_to_unless_current t("orders.show.title", slug: order.to_param.upcase), order %>
  </strong>

  <p>
    <%= render partial: "orders/checkout_details", locals: { order: } %>
  </p>

  <p>
    <%= render partial: "orders/status", locals: { order: order } %>
  </p>

  <% if action_name != "show" %>
    <p>
      <%= link_to [:admin, order] do %>
        <strong><%= t("orders.order.items") %></strong>
        <%= order.order_items_quantity %>
      <% end %>
    </p>
  <% end %>

  <% if order.next_status.present? %>
    <%= button_to admin_order_path(order.id), method: :put do %>
      <%= t("activerecord.attributes.order.statuses.#{order.status}") %>
      ->
      <%= t("activerecord.attributes.order.statuses.#{order.next_status}") %>
    <% end %>
  <% end %>
</article>
