<footer data-turbo-prefetch="false" class="bg-base-200 text-base-content py-10 px-6">
  <div class="container mx-auto flex flex-col md:flex-row justify-between items-start md:items-center gap-6">
    
    <!-- Left: Brand + Social -->
    <div class="flex flex-col items-start gap-3">
      <div class="text-xl font-semibold">
        <%= Setting.store_name %> © <%= Time.zone.now.year %>
      </div>
      <div class="flex gap-3">
        <%= render "shared/social_links" %>
      </div>
    </div>

    <!-- Middle: Contact Info -->
    <div class="text-sm space-y-1">
      <div><%= Setting.address %></div>
      <div><%= Setting.phone_number %></div>
      <div><%= mail_to Setting.email, Setting.email, class: "link link-hover" %></div>
    </div>

    <!-- Right: Policies + Admin -->
    <div class="flex flex-col gap-2 text-sm">
      <% if Setting.terms_of_service.present? %>
        <%= link_to terms_of_service_path, class: "link link-hover" do %>
          <%= t("static.terms_of_service.title") %>
        <% end %>
      <% end %>

      <% if Setting.privacy_policy.present? %>
        <%= link_to privacy_policy_path, class: "link link-hover" do %>
          <%= t("static.privacy_policy.title") %>
        <% end %>
      <% end %>

      <% if Setting.refund_policy.present? %>
        <%= link_to refund_policy_path, class: "link link-hover" do %>
          <%= t("static.refund_policy.title") %>
        <% end %>
      <% end %>
    </div>

    <!-- Admin Links -->
    <div class="hidden md:flex flex-col gap-2 text-sm">
      <%= link_to admin_orders_path, class: "link link-hover" do %>
        <i class="fa fa-lock mr-1"></i><%= t("admin.orders.index.title") %>
      <% end %>

      <%= link_to admin_stats_path, class: "link link-hover" do %>
        <i class="fa fa-lock mr-1"></i><%= t("admin.stats.index.title") %>
      <% end %>

      <%= link_to [:admin, :settings], class: "link link-hover" do %>
        <i class="fa fa-lock mr-1"></i><%= t("admin.settings.index.title") %>
      <% end %>
    </div>

  </div>
</footer>
