<footer data-turbo-prefetch="false">
  <div>
    <%= @current_account.stripe_business_profile_name || Setting.store_name %>
    ©
    <%= Time.zone.now.year %>
  </div>

  <div>
    <%= render "shared/social_links" %>
  </div>

  <div>
    <%= @current_account.stripe_business_profile_support_address %>
  </div>

  <div>
    <%= @current_account.stripe_business_profile_support_phone %>
  </div>

  <div>
    <%= mail_to @current_account.stripe_business_profile_support_email %>
  </div>

  <div>
    <%= @stripe_account.try(:business_profile).try(:support_phone) %>
  </div>

  <% if Setting.terms_of_service.present? %>
    <div>
      <%= link_to terms_of_service_path do %>
        <%= t("static.terms_of_service.title") %>
      <% end %>
    </div>
  <% end %>

  <% if Setting.privacy_policy.present? %>
    <div>
      <%= link_to privacy_policy_path do %>
        <%= t("static.privacy_policy.title") %>
      <% end %>
    </div>
  <% end %>

  <% if Setting.refund_policy.present? %>
    <div>
      <%= link_to refund_policy_path do %>
        <%= t("static.refund_policy.title") %>
      <% end %>
    </div>
  <% end %>

  <div>
    <%= link_to admin_orders_path do %>
      <i class="fa fa-lock"></i>
      <%= t("admin.orders.index.title") %>
    <% end %>
  </div>

  <div>
    <%= link_to admin_stats_path do %>
      <i class="fa fa-lock"></i>
      <%= t("admin.stats.index.title") %>
    <% end %>
  </div>

  <div>
    <%= link_to [:admin, :settings] do %>
      <i class="fa fa-lock"></i>
      <%= t("admin.settings.index.title") %>
    <% end %>
  </div>
</footer>
