<nav>
  <div style="display: inline-flex; align-items: center; gap: 0.75rem;">
    <% if @stripe_logo_url.present? %>
      <div>
        <%= image_tag @stripe_logo_url, style: "height: 2rem; width: auto; vertical-align: middle; aspect-ratio: 1/1;" %>
      </div>
    <% else %>
      <div>
        <i class="fa-solid fa-shop" style="font-size: 1.25rem; vertical-align: middle;"></i>
      </div>
    <% end %>
    <span style="font-size: 1.1rem; vertical-align: middle; font-weight: 500;"><%= Setting.store_name %></span>
  </div>

  <% if Setting.search %>
    <%= render "products/search_dialog" %>
  <% end %>

  <%= active_link_to products_path do %>
    <%= t("products.index.title") %>
  <% end %>

  <% if Setting.public_order_queue %>
    <%= active_link_to queue_path do %>
      <i class="fa-solid fa-stopwatch"></i>
      <%= t("queue.index.title") %>
    <% end %>
  <% end %>

  <% if @my_orders.not_draft.any? %>
    <%= active_link_to orders_path, active: :exact do %>
      <i class="fa-solid fa-clock-rotate-left"></i>
      <%= t("orders.index.title") %>
    <% end %>
  <% end %>

  <% if @current_order %>
    <%= active_link_to @current_order do %>
      <i class="fa-solid fa-cart-shopping"></i>
      <mark><%= @current_order.order_items_quantity %></mark>
    <% end %>
  <% end %>
</nav>
