<nav id="nav">
  <% if Setting.search %>
    <%= render "products/search_dialog" %>
  <% end %>

  <%= active_link_to products_path, style: "display: inline-flex; align-items: center; gap: 0.75rem; text-decoration: none; font-weight: 500;" do %>
    <% if Setting.logo_url.present? %>
      <div>
        <%= image_tag Setting.logo_url, style: "height: 1.5em; width: auto; vertical-align: middle;" %>
      </div>
    <% else %>
      <i class="fa-solid fa-list" style="font-size: 1.25rem; vertical-align: middle;"></i>
    <% end %>
    <span style="font-size: 1.1rem; vertical-align: middle;"><%= Setting.app_name %></span>
  <% end %>

  <% if Setting.public_order_queue %>
    <%= active_link_to queue_path do %>
      <i class="fa-solid fa-stopwatch"></i>
      <%= t("queue.index.title") %>
    <% end %>
  <% end %>

  <% if @my_orders.not_draft.any? %>
    <%= active_link_to orders_path, active: :exact do %>
      <i class="fa-solid fa-clock-rotate-left"></i>
      <%= t("orders.index.title") %>
    <% end %>
  <% end %>

  <% if @current_order %>
    <%= active_link_to @current_order do %>
      <%#= @current_order.id %>
      <i class="fa-solid fa-cart-shopping"></i>
      <mark><%= @current_order.order_items_quantity %></mark>
    <% end %>
  <% end %>
</nav>
