<article id="<%= dom_id order %>">
  <strong>
    <%= link_to_unless_current "##{order.slug.upcase}", order %>
  </strong>

  <% if order.checkout_session.present? && !order.draft? %>
    <p>
      <%= Time.at(order.checkout_session["created"]).strftime("%d %h %Y, %H:%M") %>
    </p>
  <% end %>

  <p id="order_status">
    <%= render partial: "orders/status", locals: { order: order } %>
  </p>
  <%# TODO: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/progress#describing_a_particular_region %>

  <% if action_name != "show" %>
    <p>
      <%= link_to order do %>
        <mark><%= order.order_items_quantity %></mark>
        <strong><%= t(".items") %></strong>
      <% end %>
    </p>
  <% end %>

  <% if order.draft? %>
    <%= button_to order_checkout_index_path(order), method: :post, data: { turbo: false }, disabled: order.order_items.empty? do %>
      <i class="fa-solid fa-credit-card"></i>
      Complete order
      <%= number_to_currency(order.total_price / 100.0, unit: currency_code_to_symbol(order.order_items.first.product.default_currency)) %>
    <% end %>
  <% else %>
    <button disabled>
      <i class="fa-solid fa-credit-card"></i>
      <%= number_to_currency(order.total_price / 100.0, unit: currency_code_to_symbol(order.order_items.first.product.default_currency)) %>
    </button>
  <% end %>

  <% if order.done? %>
    <hr>
    <p>
      <%= t(".rating") %>
    </p>
    <div style="display: flex; justify-content: space-between;">
      <% rating_emojis.each do |rating, emoji| %>
        <%= button_to order_path(order), params: {order: { id: order.id, rating: rating }}, method: :put, disabled: order.rating.equal?(rating) do %>
          <%= emoji %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</article>
