<article id="<%= dom_id order %>">
  <strong>
    <%= link_to_unless_current t("orders.show.title", slug: order.to_param.upcase), order %>
  </strong>

  <p>
    <%= render partial: "orders/status", locals: { order: } unless order.draft? %>
  </p>

  <% if order.draft? %>
    <%= button_to order_checkout_index_path(order), method: :post, data: { turbo: false }, disabled: order.order_items.empty? do %>
      <i class="fa-solid fa-credit-card"></i>
      <% if order.order_items.any? %>
        <%= t(".complete") %>
        <%= number_to_currency(order.total_amount / 100.0, unit: currency_code_to_symbol(order.currency)) %>
      <% else %>
        <%= t(".empty") %>
      <% end %>
    <% end %>
  <% end %>
</article>
