<article id="<%= dom_id order %>">
  <strong>
    <%= link_to_unless_current t("orders.show.title", slug: order.slug.upcase), order %>
  </strong>

  <% if order.checkout_session.present? && !order.draft? %>
    <p>
      <%= Time.at(order.checkout_session["created"]).strftime("%d %h %Y, %H:%M") %>
    </p>
  <% end %>

  <%= render partial: "orders/checkout_details", locals: { order: } %>

  <p>
    <%= render partial: "orders/status", locals: { order: } unless order.draft? %>
  </p>
  <%# TODO: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/progress#describing_a_particular_region %>

  <% if action_name != "show" %>
    <p>
      <%= link_to order do %>
        <strong><%= t(".items") %></strong>
        <mark><%= order.order_items_quantity %></mark>
      <% end %>
    </p>
  <% end %>

  <% if order.draft? %>
    <%= button_to order_checkout_index_path(order), method: :post, data: { turbo: false }, disabled: order.order_items.empty? do %>
      <i class="fa-solid fa-credit-card"></i>
      <% if order.order_items.any? %>
        <%= t(".complete") %>
        <%= number_to_currency(order.total_amount / 100.0, unit: currency_code_to_symbol(order.currency)) %>
      <% else %>
        <%= t(".empty") %>
      <% end %>
    <% end %>
  <% else %>
    <button disabled>
      <i class="fa-solid fa-credit-card"></i>
      <%= number_to_currency(order.total_amount / 100.0, unit: currency_code_to_symbol(order.currency)) %>
    </button>
  <% end %>

  <% if order.done? %>
    <hr>
    <p>
      <%= t(".rating") %>
    </p>
    <div style="display: flex; justify-content: space-between;">
      <% rating_emojis.each do |rating, emoji| %>
        <%= button_to order_path(order), params: {order: { id: order.id, rating: rating }}, method: :put, disabled: order.rating.equal?(rating) do %>
          <%= emoji %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</article>
