<%= meta_tags(title: t(".title")) %>

<%= turbo_stream_from :orders %>

<div class="max-w-3xl mx-auto">
  <h2 class="text-2xl font-bold text-gray-900 dark:text-white mb-8">
    <%= t(".title") %>
    <span class="du-badge du-badge-primary">
      <%= @orders.count %>
    </span>
  </h2>

  <div id="orders" class="space-y-6">
    <%= render collection: @orders, partial: "orders/order", as: :order %>
  </div>
</div>
