<%= meta_tags(title: t(".title", name: @order.to_param.upcase)) %>

<%= turbo_stream_from @order %>

<div class="max-w-3xl mx-auto">

  <% if !@order.draft? && !@order.done? %>
    <h2 class="text-2xl font-bold text-gray-900 dark:text-white mb-8">
      <%= t(".thank_you") %>
    </h2>
  <% end %>

  <%= render @order %>

  <%= render partial: "orders/checkout_details", locals: { order: @order } %>

  <% if @order.order_items.any? %>
    <details open>
      <summary>
        <%= t("orders.order.items").capitalize %>
      </summary>
      <%= render @order_items %>
    </details>
  <% end %>

  <% if @order.done? %>
    <details open>
      <summary>
        <%= t(".rating") %>
      </summary>
      <div style="display: flex; justify-content: space-between;">
        <% rating_emojis.each do |rating, emoji| %>
          <%= button_to order_path(@order), params: {order: { id: @order.id, rating: rating }}, method: :put, disabled: @order.rating.equal?(rating) do %>
            <%= emoji %>
          <% end %>
        <% end %>
      </div>
    </details>
  <% end %>

</div>
