<%= meta_tags(title: @product.name, description: @product.stripe_product_object.description, image: @product.image_url) %>

<nav aria-label="navigation">
  <%= link_to products_path do %>
    <i class="fa-solid fa-chevron-left"></i>
    <%= t("products.index.title") %>
  <% end %>
</nav>

<% content_for :head do %>
  <script type="application/ld+json">
    <%= product_schema_json(@product) %>
  </script>
<% end %>

<article id="<%= dom_id @product %>" style="display: flex; flex-direction: row; gap: 1rem;">
  <div style="max-width: 256px;">
    <%= image_tag @product.image_url, style: "height: 256px; object-fit: cover;" if @product.image_url.present? %>
  </div>

  <div>
    <b>
      <%= @product.name %>
    </b>

    <p>
      <%= price_label(@product.default_price) %>
    </p>

    <%= button_to add_to_cart_path(@product.default_price) do %>
      <i class="fa-solid fa-cart-arrow-down"></i>
      <%= t(".add_to_cart") %>
      <mark><%= @product.default_price.items_in_cart(@current_order) %></mark>
    <% end %>

    <p>
      <%= @product.stripe_product_object.description %>
    </p>

    <% if @product.stripe_product_object.metadata.present? %>
      <% @product.stripe_product_object.metadata.each do |key, value| %>
        <p>
          <%= key %>:
          <%= value %>
        </p>
      <% end %>
    <% end %>

    <% if marketing_features(@product).any? %>
      <ul>
        <% marketing_features(@product).each do |feature| %>
          <li>
            <small><%= feature %></small>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</article>
