<div class="max-w-3xl mx-auto">
  <h2 class="text-2xl font-bold text-gray-900 dark:text-white mb-8">
    <%= t(".title") %>
  </h2>

  <section>
    <h3>
      <%= t(".most_popular_products") %>
    </h3>
    <%= pie_chart @most_popular_products %>
  </section>

  <section>
    <h3>
      <%= t(".satisfaction_rate") %>
    </h3>
    <%= column_chart @satisfaction %>
  </section>
</div>
