<h1>
  <mark>admin</mark>
  <%= t(".title") %>
</h1>

<section>
  <h3>
    <%= t(".most_popular_products") %>
  </h3>
  <%= pie_chart @most_popular_products %>
</section>

<section>
  <h3>
    <%= t(".satisfaction_rate") %>
  </h3>
  <%= column_chart @satisfaction %>
</section>
