<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? "#{content_for(:title)} | #{@stripe_account.settings.dashboard.display_name}" : @stripe_account.settings.dashboard.display_name %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% if @stripe_logo_url.present? %>
      <%= favicon_link_tag @stripe_logo_url %>
    <% end %>

    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <% if @stripe_account&.settings&.branding&.primary_color.present? %>
      <style>
        :root {
          --accent: <%= @stripe_account.settings.branding.primary_color %>;
          --accent-hover: <%= @stripe_account.settings.branding.secondary_color %>;
        }
        @media (prefers-color-scheme: dark) {
          :root {
            --accent: <%= @stripe_account.settings.branding.primary_color %>;
            --accent-hover: <%= @stripe_account.settings.branding.secondary_color %>;
          }
        }
      </style>
    <% end %>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    >

    <script defer data-domain="warszawabooks.pl" src="https://plausible.io/js/script.js"></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= turbo_refreshes_with method: :morph, scroll: :preserve %>
    <%= yield :head %>
  </head>

  <body>
    <header style="position: sticky; top: 0; z-index: 100;">
      <%= render "shared/nav" %>
    </header>
    <main>
      <%#= render "shared/flash" %>
      <%= yield %>
    </main>
    <footer>
      <%= render "shared/footer" %>
    </footer>
  </body>
</html>
